<footer class="footer">
    <div class="top">
        <%- partial('plugins/site-visit') %>
        <p>
            <% if ((config.feed) && (config.feed.path.length)) { %>
                <span><a href="<%- url_for(config.feed.path) %>" target="_blank" class="rss" title="rss"><i class="icon icon-lg icon-rss"></i></a></span>
            <% } %>
            <span><%- __('footer.license') %></span>
        </p>
        <p><span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span>
            <span>
                <% if(theme.ICP_license) {%>
                    <a href="http://www.beianbeian.com/beianxinxi/7de025e1884e11a5d7f776633c2f8b68.html" target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
            </span>
        </p>
    </div>
<!--    <div class="bottom">-->

<!--    </div>-->
</footer>
